{% extends 'main.html' %} {% block content%}
<h1>Project Templates</h1>

<h3>You are on the {{ page }} page.</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Positive Rates</th>
    <th>Ratio</th>
    <th>Created</th>
    <th></th>
    <th></th>
  </tr>
  {% for project in projects %}
  <tr>
    <td>{{ project.title }}</td>
    <td>{{ project.vote_total }}</td>
    <td>{{ project.vote_ratio }}%</td>
    <td>{{ project.created }}</td>
    <td><a href="{% url 'project' project.id %}">View</a></td>
    <td><a href="{% url 'update-project' project.id %}">Edit</a></td>
    <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
    {% endfor %}
  </tr>
</table>

{% endblock content %}
